{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            Coffé for your head
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos enim illo placeat dolor? Eaque optio, ipsa error voluptatum, illo sapiente accusantium nulla in dignissimos inventore praesentium ratione quisquam! Dicta, alias.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/caffe.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}